name: Build Web Image

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: dangnhan2
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and Push Web image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/dangnhan2/vegetarian-web:latest
          build-args: |
            NEXT_PUBLIC_BACKEND_BASE_URI=${{ secrets.NEXT_PUBLIC_BACKEND_BASE_URI }}
